<html>
<head>
  <title>UPRRP Encuesta</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
<h2>Infórmate</h2>
      <p><a href="https://www.facebook.com/gilberto.dominguez/posts/10153147923176121?pnref=story">Propuesta de sistema de cámaras ante el Senado Académico </a></p>
      <p><a href="https://docs.google.com/document/d/1QM0NOgVSv-BcNbNnMXx197zkQHz_AQIQ4yLIEbSo29Q/edit?usp=sharing">Carta abierta a la comunidad del Senador de Naturales</a></p>
      <p><a href="https://docs.google.com/document/d/1UWmQvhakhrMzZ-hhDsW5z2wb9CNU6Q92xFw3d906c5M/edit?usp=sharing">Llamado al estudio de alternativas</a></p>

      <p>En breve, el consejo de Ciencias Naturales no recomienda que se adopte esta propuesta en su forma actual ya que:</p>
      <ul>
      <li>No se le tiene que informar a un individuo si se reproduce una grabación de sí ni para qué propósito.</li>
      <li>Las cámaras en efecto protegen la propiedad, no al estudiantado.</li>
      <li>Existe sistema para reportar abusos del programa, pero ningun sistema para poder ver si se está abusando. (Cómo se espera que uno se entere si hay mal uso del mismo?)</li>
      <li>En general el proceso de propuesta ha sido ajorado y ha carecido de transparencia y representatividad.</li>
      <li>No tiene mecanismo de supervisión dedicado que garantice el uso ético del sistema, ni siquiera para la administración.</li>
      <li>El sistema corre el riesgo severo de abuso, y carece de un sistema que lo prevenga o que ayude a detectarlo.</li>
      <li>No se han explorado alternativas al monitoreo</li>
      <li>No se ha hecho estudio acerca de la efectividad de esta u otras medidas en términos de la protección que le brinda a la comunidad universitaria.</li>
      </ul>
<h2>Encuesta: </h2>

  <div class="container">
    <div class="row">
      <h2>  Esta encuesta busca recopilar la opinión del estudiantado de la facultad de Ciencias Naturales. La misma requiere que incluya su número de estudiante en el formato “XXX-XX-XXX”. Para llevar a cabo estas encuestas electrónicas de nuestro estudiantado en específico requerimos una lista digital de los numeros de estudiante de nuestra facultad. Dado que la lista de referencia actualizada no se nos proveyó, es posible que los estudiantes reclasificados este semestre no puedan votar. Lamentamos el inconveniente.</h2>
      <form class="form-horizontal" action="/" method="POST">
      <div class="form-group">
        <label for="inputStudentNumber" class="col-sm-2 control-label">Numero de Estudiante</label>
        <div class="col-sm-10">
          <input type="text" name="studentNumber" class="form-control" id="inputStudentNumber" placeholder="801-XX-XXXX" maxlength="11" required>
        </div>
      </div>

      <div class="form-group">
      <label for="inputStudentNumber" class="col-sm-6 control-label">1) Estás de acuerdo con que se implemente la propuesta de cámaras en su forma actual?</label>
      <div class="col-sm-10">
          <div class="radio">
            <label>
              <input type="radio" name="Answer1" value="yes">
              Sí
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="Answer1" value="no">
              No
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
      <label for="inputStudentNumber" class="col-sm-6 control-label">2) Piensas que un sistema de cámaras debe poder instalarse sin un panel de ética dedicado a supervisar su uso?</label>
      <div class="col-sm-10">
          <div class="radio">
            <label>
              <input type="radio" name="Answer2" value="yes">
              Sí
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="Answer2" value="no">
              No
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
      <label for="inputStudentNumber" class="col-sm-6 control-label">3) Crees que la comunidad universitaria debe tener representación en cualquier medida que tenga el potencial de amenazarle?</label>
      <div class="col-sm-10">
          <div class="radio">
            <label>
              <input type="radio" name="Answer3" value="yes">
              Sí
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="Answer3" value="no">
              No
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
      <label for="inputStudentNumber" class="col-sm-6 control-label">4) Crees que se deben explorar alternativas a las cámaras?</label>
      <div class="col-sm-10">
          <div class="radio">
            <label>
              <input type="radio" name="Answer4" value="yes">
              Sí
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="Answer4" value="no">
              No
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
      <label for="inputStudentNumber" class="col-sm-6 control-label">5) Leíste la carta abierta?</label>
      <div class="col-sm-10">
          <div class="radio">
            <label>
              <input type="radio" name="Answer5" value="yes">
              Sí
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="Answer5" value="no">
              No
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
      <label for="inputStudentNumber" class="col-sm-6 control-label">6) Leíste el desglose de deficiencias?</label>
      <div class="col-sm-10">
          <div class="radio">
            <label>
              <input type="radio" name="Answer6" value="yes">
              Sí
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="Answer6" value="no">
              No
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
      <label for="inputStudentNumber" class="col-sm-6 control-label">7) Leíste la propuesta actual ante el senado?</label>
      <div class="col-sm-10">
          <div class="radio">
            <label>
              <input type="radio" name="Answer7" value="yes">
              Sí
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="Answer7" value="no">
              No
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
      <label for="inputStudentNumber" class="col-sm-6 control-label">8) Prefieres que se consulte al estudiantado de naturales de esta forma en vez de mediante asambleas?</label>
      <div class="col-sm-10">
          <div class="radio">
            <label>
              <input type="radio" name="Answer8" value="yes">
              Sí
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="Answer8" value="no">
              No
            </label>
          </div>
        </div>
      </div>


      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Someter</button>
        </div>
      </div>
      </form>
    </div>
  </div>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>














